.about {
  height: 100vh;
  background-color: white;
  display: flex;
}
.about .textWrapperAbout {
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.about .textWrapperAbout h2,
.about .textWrapperAbout p {
  margin-bottom: 2rem;
}
.about .aboutButtonsDiv {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.about .aboutButtonsDiv a {
  text-decoration: none;
}
.about .aboutButtonsDiv button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: linear-gradient(0deg, rgb(30, 223, 84) 0%, #00994d 100%);
  border: none;
  box-shadow: 0px 5px 5px rgba(25, 202, 75, 0.5960784314);
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.about .aboutButtonsDiv button:hover {
  box-shadow: 0 5px 8px -3px rgba(20, 167, 62, 0.5960784314);
}
.about .aboutButtonsDiv button:active {
  box-shadow: 0 0.3em 1em -0.5em rgba(20, 167, 62, 0.5960784314);
}