*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homewindow1 {
  font-family: "Poppins", sans-serif;
  position: relative;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  background-color: white;
}
.homewindow1 .arrow {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%) rotate(-90deg);
  height: 50px;
  width: 50px;
}
.homewindow1 .parallaxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 30;
}
.homewindow1 .parallaxChild {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -5;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  -o-object-fit: contain;
     object-fit: contain;
}
.homewindow1 .parallaxChild img {
  height: calc(100vh - 100px);
  width: auto;
  transform: scale(0.6);
}
.homewindow1 .parallaxText {
  text-align: center;
}
.homewindow1 .parallaxText .parallaxTextName {
  font-size: 1.8rem;
}
.homewindow1 .parallaxText .parallaxTextName h1 {
  text-align: left;
  font-weight: 500;
}
.homewindow1 .parallaxText .parallaxTextPosition {
  font-size: 1.5rem;
}
.homewindow1 .parallaxText .parallaxTextPosition h3 {
  font-weight: 300;
}
.homewindow1 .mainTextDiv {
  text-align: center;
  position: absolute;
  z-index: 20;
  color: white;
  left: 50%;
  transform: translate(-50%, -50%);
}
.homewindow1 .mainTextDiv h1 {
  margin-bottom: 1rem;
  font-size: 5rem;
}
.homewindow1 .mainTextDiv h3 {
  font-size: 2rem;
  text-align: center;
  font-weight: 100;
}

.aboutButtonsDiv {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
}

.contacts {
  z-index: 100;
  position: fixed;
  background-color: black;
  transform: translate(0%, -50%);
  top: 50%;
  right: 0;
  border-radius: 10px 0 0px 10px;
}
.contacts img {
  display: block;
  max-width: 40px;
  margin: 8px;
  background-color: white;
  border-radius: 8px;
  padding: 2px;
}
.contacts img:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.2s ease-out;
}

@media screen and (max-width: 500px) {
  .homewindow1 img {
    width: 100vh;
  }
  .parallaxChild img {
    transform: scale(0.4) !important;
  }
  .parallaxText {
    text-align: center;
    max-width: 80%;
  }
  .parallaxText .parallaxTextName {
    font-size: 1.2rem !important;
  }
  .parallaxText .parallaxTextName h1 {
    text-align: center;
    font-weight: 500;
  }
  .parallaxText .parallaxTextPosition {
    font-size: 1.5rem;
  }
  .parallaxText .parallaxTextPosition h3 {
    font-weight: 300;
    text-align: left;
  }
  .contacts img {
    display: block;
    max-width: 32px;
    margin: 4px;
    background-color: white;
    border-radius: 8px;
    padding: 1px;
  }
}