*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.projects {
  background-color: white;
  text-align: center;
  min-height: calc(100vh - 100px - 30px);
  padding: 2rem 0rem;
}
.projects .pageTitle {
  font-size: 3rem;
  padding: 2rem 0;
}
.projects .projectsDiv {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 2rem;
  max-width: 600px;
}

.projectCard {
  box-shadow: 8px 8px 10px -5px green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  transition: 300ms ease-out;
  max-width: 250px;
  position: relative;
  z-index: 0;
}
.projectCard:hover {
  transform: scale(1.1);
}
.projectCard .projectImageDiv {
  max-width: 250px;
  height: 250px;
}
.projectCard .projectImageDiv .projectImage {
  max-width: 250px;
  position: absolute;
  transform: scale(0);
}
.projectCard .projectImageDiv .projectImageMain {
  max-width: 250px;
  height: 250px;
}
.projectCard .projectTextWrap {
  width: 100%;
}
.projectCard .projectTextWrap .projectAdditionalTextWrap {
  transform: scale(0);
  position: absolute;
}
.projectCard .projectTextWrap .projectTitle {
  margin-top: 5px;
  padding: 0.1rem;
  width: 100%;
}

.projectModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 20;
}
.projectModal .overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
.projectModal .modal {
  box-shadow: 0px 0px 20px 0px rgb(0, 192, 0);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 20;
  display: flex;
  flex-direction: row;
  width: 80vw;
  max-width: 700px;
  max-height: 320px;
}
.projectModal .modal .modalExitButton {
  position: absolute;
  right: 20px;
  top: 10px;
  background-color: black;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projectModal .modal .modalImageDiv {
  background-color: white;
  display: flex;
  flex-direction: column;
  max-height: 40vh;
  min-width: 50%;
  overflow-y: auto;
}
.projectModal .modal .modalImageDiv .modalImage {
  border-bottom: solid rgb(0, 192, 0) 5px;
}
.projectModal .modal .modalImageDiv .modalImage:only-of-type {
  border-bottom: none;
}
.projectModal .modal .modalImageDiv .modalImage:last-child {
  border-bottom: none;
}
.projectModal .modal .modalTextWrap {
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.projectModal .modal .modalTextWrap .modalTitleWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.projectModal .modal .modalTextWrap .modalTitleWrap .modalTitle {
  margin: 0;
  padding: 0;
}
.projectModal .modal .modalTextWrap .modalAdditionalTextWrap {
  margin-bottom: 1rem;
}
.projectModal .modal .modalTextWrap .modalAdditionalTextWrap .modalDescription {
  margin-bottom: 1rem;
}
.projectModal .modal .modalTextWrap .modalAdditionalTextWrap .modalTechnologiesTitle {
  margin-bottom: 1rem;
}
.projectModal .modal .modalTextWrap .modalAdditionalTextWrap ul {
  list-style-type: none;
}
.projectModal .modal .modalTextWrap .modalButtons {
  display: flex;
  justify-content: center;
}
.projectModal .modal .modalTextWrap .modalButtons a {
  text-decoration: none;
}

.loadingScreen {
  background-color: black;
  height: calc(100vh - 100px - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 700px) {
  .projectCard {
    flex-basis: 500px;
  }
  .projectsDiv {
    max-width: 1000px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 500px) {
  .modal {
    max-height: 600px !important;
    flex-direction: column !important;
  }
  .modalImageDiv {
    flex-basis: 50%;
    min-height: 300px;
  }
  .modalTextWrap {
    flex-basis: 50%;
  }
}